

  <img src=".../../../../resources/images/history_all.png">




<!--<div class="ui center aligned icon header">
  <i class="inverted diamond icon"></i>
  <h2 style="color: #ffffff">Point History</h2>
  <div class="ui celled list">
    <div class="item">
      <div class="content">
        <div class="header">Referral:</div>
        <span style="color: #ffffff">
          Lena Rackham - score 500,-
        </span>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Investment</div>
          <span style="color: #ffffff">
          Lønnepils - score 20,-
          </span>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Investment</div>
          <span style="color: #ffffff">
          HYTTETUR - score 200,-
          </span>
        </div>
      </div>
    </div>
  </div>
</div>-->
