<div class="container">
  <form *ngIf="!registered" class="ui form registration-form" (ngSubmit)="onSubmit(registerForm)"
        #registerForm="ngForm">
    <h2 class="ui dividing header">New User</h2>
    <div class="two fields">
      <div class="field">
        <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name"
               [(ngModel)]="newUser.firstName"
               ngControl="firstName" required>
      </div>

      <div class="field">
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName"
               ngControl="lastName"
               required>
      </div>
    </div>

    <div class="field">
      <input type="text" name="telephone" id="phone" placeholder="Phone Number" [(ngModel)]="newUser.telephone"
             ngControl="telephone"
             required>
      <span *ngIf="!phoneValid" style="color: red">Must be a number</span>
    </div>

    <div class="field">
      <input id="password" type="password" name="password" placeholder="Create password" [(ngModel)]="newUser.password"
             ngControl="password1"
             required>
    </div>

    <div class="field">
      <input id="confirmPassword" type="password" name="confirm-password" placeholder="Confirm password"
             [(ngModel)]="newUser.confirmPassword"
             ngControl="password2" required>
      <span *ngIf="!passwordConfirmed" style="color: red">Password mismatch</span>
    </div>

    <div class="field">
      <input type="text" name="referenceNumber" id="referenceNumber" placeholder="Reference Number (optional)"
             [(ngModel)]="newUser.referenceNumber"
             ngControl="referenceNumber">
    </div>
    <div class="field">
      <span *ngIf="this.backendError" style="color: red">{{this.backendError}}</span>
    </div>

    <button type="submit" class="ui primary button" [disabled]="!registerForm.form.valid">Register</button>
    <button type="submit" routerLink="/login" class="ui primary button">Cancel</button>
  </form>

  <div *ngIf="registered" style="width: 100%; padding-top: 10%; padding-left: 40%">
    <h3>Registration successful.<br>Logging in...</h3>
  </div>


</div>
