<div>
  <ul>
    <li>
      <a class="item" routerLink="/phase3" routerLinkActive="active">
        <img border="0" alt="Main group page" src="../resources/icons/001-phase3.png" width="60" height="60">
      </a>
    </li>
    <li>
      <a class="item" routerLink="/main-group" routerLinkActive="active">
        <img border="0" alt="Main group page" src="../resources/icons/006-groups.png" width="60" height="60">
      </a>
    </li>
    <li>
      <a class="item" routerLink="/add-friend" routerLinkActive="active">
        <img border="0" alt="Add friend" src="../resources/icons/002-add-friend.png" width="80" height="80">
      </a>
    </li>
    <li>
      <a class="item" routerLink="/market" routerLinkActive="active">
        <img border="0" alt="Marketplace" src="../resources/icons/004-marketplace.png" width="80" height="80">
      </a>
    </li>
  </ul>
</div>
